body {
    background-color: rgb(251, 246, 240);
}

header {
    background-color: rgb(176, 107, 066);
    text-align: center;
}

h1 {
    font-weight: bold;
}

h2 {
    background-color: rgb(176, 107, 066);
}

.takibiImage {
    height: 80%;
    width: 80%;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.summary {
    font-size: large;
    text-align: center;
}

.summary ul {
    display: grid;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.summary ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}